<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <title>Aurora</title>
</head>

<body>
    <section class="showcase">
        <header>
        </header>
        <video class="video" muted loop autoplay 
            src="{{ url_for('static', filename='media/aurora.mp4') }}"></video>

        <img id ="webcamFeed" src="{{ url_for('video_feed') }}" hidden>

        <div class="overlay">
            <h2 id="tinyAurora">Aurora</h2>
            <h1>Aurora</h1>
        </div>
    </section>
    <script type=text/javascript src="{{ url_for('static', filename='js/app.js') }}"></script>
</body>

</html>
