@use 'normalize';

body {
    background-color:#fafafa;
    font-family: Segoe UI, sans-serif;
    margin: 0px auto;
    width: 500px;
    height: 375px;
}

img {
    width: 500px;
    height: 375px;
    background-color: #666;
}

.showcase {
    position: absolute;
    right: 0;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #111;
    color: #fff;
    z-index: 2;
}

.overlay{
    z-index: 2;
    font-size: 800%;
    text-align: center;
}

.showcase video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.8s;
}

.video.active {
    height: 0%;
}

h1{
    transition: opacity 0.3s; 
}

#tinyAurora{
    transition: opacity 0.3s; 
    font-size: 30%;
    position: fixed;
    top: 5%;
    left: 90%;
    display: none;
}

h1.active{
    opacity: 0;
}
